* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    /* background-image: url("../assets/backgroundImage.png"); */
    background-image: url("../assets/aboutBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 8rem;
    background-attachment: fixed;
}

header,
header * {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding: 1rem;
  height: fit-content;
}

button {
    background: none;
    color: white;
    border: none;
    font-size: 32px;
    cursor: pointer;
    letter-spacing: 2px;
}

#content {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  height: 100%;
  max-width: 100%;
}

.container {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  letter-spacing: 2px;

  button {
    background: #d98e32;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 700;
}
button:hover {
    filter: saturate(0.8);
}
}

.welcome {
    font-size: 32px;
    text-shadow: 0px 0px 20px black;
}

.restaurant-name {
    font-size: 80px;
    font-style: italic;
    text-shadow: 0px 0px 20px black;
    display: flex;
    gap: 0.5rem;

}

.no-italic {
    font-style: normal;
}

.slogan {
    font-size: 32px;
    text-shadow: 0px 0px 20px black;
    letter-spacing: 1px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 3px;
}

.categories {
    display: flex;
    gap: 1rem;
}

.category-button {
    font-size: 16px;
    font-weight: 500;
}

.food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.429rem;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 300px;
}

.item-name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.25rem;
}

.item-name {
    font-size: 20px;
    font-weight: 500;
}

.item-desc {
    font-size: 16px;
    font-weight: 300;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.about-title {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.story, .philo, .experience, .promise {
    max-width: 800px;
    width: 800px;
    line-height: 1.5;
}

ul {
    padding-left: 2rem;
}








.playfair-display-headings {
      font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
